<div id="<%= dom_id newsletter %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= newsletter.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= newsletter.body %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= newsletter.slug %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this newsletter", newsletter, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this newsletter', edit_newsletter_path(newsletter), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
