  <meta property="og:title" content="<%= post.title %>">
  <meta property="og:url" content="https://tjerk.art/post/<%= post.slug %>">
  <meta property="og:image" content="/nodutgang.png">
  <meta property="og:image:alt" content="<%= post.title %>">
  <meta property="og:site_name" content="Tjerk's place on the internet">


<div id="<%= dom_id post %>" class="m-5" data-controller="clipboard">
  <h2 class="text-4xl font-bold">
    <%= link_to post_path(post.slug) do %>
      <%= post.title %>
    <% end %>
  </h2>

  <p class="my-5 text-xl">
    <%= post.body %>
  </p>
  
  <div class="text-md text-gray-400 pb-5">
  ~ Tjerk, <%= time_tag post.created_at, "data-local": "time-ago" %>
  </div>


  <div class="h-10">


    <turbo-frame id="like">
    <% if loved?(post) %>
        <%= button_to heart_path(post), method: "put", disabled: true, class: 'bg-white text-red-600 float-right w-8 ml-5' do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg>
        <% end %>
    <% else %>
        <%= button_to heart_path(post), method: "put", class: 'bg-white text-gray-800 rounded-lg float-right w-8 ml-5' do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg>
        <% end %>
    <% end %>
      </turbo-frame>
      
        <button type="button" data-action="click->clipboard#copy"  class="copy_button float-right tooltip w-full sm:w-auto py-2 px-3 bg-gray-200 hover:bg-gray-400 disabled:bg-indigo-300 dark:disabled:bg-indigo-800 text-white dark:disabled:text-indigo-400 text-sm font-semibold rounded-md shadow focus:outline-none cursor-pointer">
        Copy link
        <span class="tooltiptext text-sm p-2 hidden rounded-md " data-clipboard-target="text">Link copied</span>
        </button>
  </div>
  <div class="seperator w-full border-solid border border-gray-200 mt-2">
  </div>
</div>
