<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    <title>Tjerk's place on the internet | very much centralized</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="Tjerk's place on the internet | very much centralized">
    <meta property="og:description" content="Tjerk's place on the internet | very much centralized">
    <meta property="og:url" content="https://tjerk.art/">
    <meta property="og:image" content="/nodutgang.webp">
    <meta property="og:site_name" content="Nödutgång">

    <script data-goatcounter="https://nodutgang.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <div class="bg-gray-100 w-screen">
      <img alt="image of a clock with an emergency exit sign" src="/nodutgang_large.webp" class="md:object-scale-down w-full h-1/4 xl:h-80 object-cover">
    </div>
    <main class="container m-auto w-screen md:w-3/6">
      <%= yield %>
    </main>
  </body>
</html>
