<!DOCTYPE html>
<html>
  <head>
    <title>Microblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="bg-gray-100 w-full">
      <img src="/nodutgang.png" class="md:object-scale-down w-full h-96 object-cover">
    </div>
    <main class="container m-auto w-full md:w-3/6">
      <%= yield %>
    </main>
  </body>
</html>
